<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Book Search</title>
  </head>
  <body>
    <h1>Please search for whatever book you're after below</h1>
    <form action="/results">
      <label>Search Book:
        <input type="text" name="book" placeholder="the princess bride" required>
      </label>
      <input type="submit" value="Search">
    </form>
  </body>
</html>
