<h1>Games home page</h1>
<h2>See links to games below</h2>

<p>
  Predict your future with <a href="/eightball">Magic 8 ball</a>
</p>
<p>
  Play rock scissors paper <a href="/rcp">Rock Scissor Paper</a>
</p>
<p>
  Get yourself a <a href="/secretnumber">Secret Number</a>
</p>
